<style>
.jumbotron {
  background-color: lightblue ;
  background-position: center center;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<% if user_signed_in? %>
<br>
<p class="bg-danger lead">
  <% sub_count = current_user.submissions.where(:due_date => Date.today .. Date.today + 7).count %>
  You have <%= sub_count %> submission<%= "s" if sub_count > 1 %> due within the next week. <%= link_to "View all submissions!", submissions_path %>
</p>
<% end %>

<div class="jumbotron">
  <div class="container">
    <h1>V! Planner</h1>
    <p>A system for students to better manage their academic lives.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>

<div class="row">
  
  <div class="col-md-12">
    <h2 class="text-center">The Team</h2>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Gaurav Jhaveri</h3>
        <p>11-214</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Gajal Jain</h3>
        <p>11-213</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Ajinkya Khamkar</h3>
        <p>11-220</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Shravan Kale</h3>
        <p>11-216</p>
      </div>
    </div>
  </div>
  
</div>